{% extends "base_generic.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block content %}
{% if statistics.track_count > 0 or statistics.total_length or statistics.codec_statistics %}
{% if statistics.track_count > 0 %}
<ul>{% trans "Track Count:" %} {{ statistics.track_count }}</ul>
{% endif %}
{% if statistics.total_length %}
<ul>{% trans "Total Length:" %} {{ statistics.total_length }}</ul>
{% endif %}
{% if statistics.codec_statistics %}
<ul>{% trans "Track Details:" %}</ul>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <td><b>{% trans "Codec" %}</b></td>
                <td><b>{% trans "Count" %}</b></td>
            </tr>
        </thead>
        <tbody>
            {% for codec, count in statistics.codec_statistics.items %} 
            <tr>
                <td>{{ codec }}</td>
                <td>{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% else %}
<h5>
{% trans "Nothing to see here yet. Please upload your tracks first to have meaningful data showing here." %}
</h5>
{% endif %}
{% endblock %}
